{% extends "template.html" %}
{% block title %}
Abrir Chamado
{% endblock  %}
{% block main %}
<link rel="stylesheet" href="/static/css/form-chamado.css">

<div id="div-abrir-chamado">
    <form id='form-chamado' class="form-main" method="POST" id="chamadoForm" enctype="multipart/form-data">
        <h2 style="text-align: center; margin-bottom: 30px">Abrir Chamado</h2>
        {% csrf_token %}
        <div id="div-form">
            <div class="container-abrir-chamado">
                <label for="id_requisitante">Requisitante:</label>
                <p id="id_requisitante" name="requisitante">{{ servidor }}</p>
            </div>
            <div class="container-abrir-chamado">
                <label for="id_secretaria">Secretaria:</label>
                <p id="id_secretaria" name="secretaria">{{ servidor.setor.secretaria }}</p>
            </div>
            <div class="container-abrir-chamado">
                <label for="id_setor">Setor:</label>
                <p id="id_setor" name="setor">{{ servidor.setor }}</p>
            </div>
                {{ form.as_p|safe }}
            
    </div>
</form>
    <div class="container-button-abrir">
        <button id="save-button" type="submit" class="btn btn-primary">Enviar</button>
    </div>
<script src="/static/js/abrirChamado.js"></script>
{% endblock %}