{% extends "template.html" %}
{% block title %}
Indicadores
{% endblock  %}
{% block main %}
<link rel="stylesheet" href="/static/css/atendentes.css">
<h1>Lista de Atendentes</h1>
<ul>
    {% for atendente in atendentes %}
        <li>
            <a href="{% url "transformaParaServidor" atendente.id %}"><button class="btn btn-primary">apagar</button></a><br>
            <strong>Nome:</strong> {{ atendente.nome }}<br>
            <strong>Setor:</strong> {{ atendente.setor.nome }}<br>
            <strong>Secretaria:</strong> {{ atendente.setor.secretaria }}<br>
            <strong>Tipos:</strong>
            <ul>
                {% for tipo in atendente.tipo.all %}
                    <li>{{ tipo.nome }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

{% if user.is_staff %}
<form method="POST" action="{% url 'transformaParaAtendente' %}">
    {% csrf_token %}
    <label for="id_servidor">Servidor:</label>
    <select name="servidor" id="id_servidor">
        {% for servidor in servidores %}
            <option value={{servidor.id}}>{{servidor.nome}}</option>
        {% endfor %}
    </select>
    <br>
    <label for="tipo">Tipos:</label>
    {% for tipo in tipos %}
        <input type="checkbox" id="tipo_{{ tipo.id }}" name="tipo" value="{{ tipo.id }}">
        <label for="tipo_{{ tipo.id }}">{{ tipo.nome }}</label><br>
    {% endfor %}

    <button type="submit">Novo Atendente</button>
</form>
{% endif %}

<script>
    $(document).ready(function() {
      $('#id_servidor').select2();
    });
</script>
{% endblock %}