{% extends "template-login.html" %}
{% block title %}
Abrir Chamado
{% endblock  %}
{% block main %}
<link rel="stylesheet" href="/static/css/cadastro.css">
<div class="row">
      <form class="form-container" method="POST">
          {% csrf_token %}
          {{formUser.as_p}}
          {{formServidor.as_p}}

            {% if formUser.errors|length != 0 %}
              <div class="alert alert-danger">
                {{formUser.errors.as_text}}
              </div>                     
            {% endif %}
          <a href="{% url 'addSetor' %}">Não encontrou seu Setor? Clique aqui para adicionar!</a>
          <button type='submit'> Cadastrar </button>
      </form>
  </div>

  <script>
    $(document).ready(function() {
      $('#id_setor').select2();
    });
  </script>
{% endblock %}