{% extends "template-login.html" %}
{% block title %}
Login
{% endblock  %}
{% block main %}
<link rel="stylesheet" href="/static/css/login.css" />
    <form class="login-form" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Entrar">
        <div id="footer-form-login">
        <a class="a-login" href="{% url 'cadastro' %}">Quero me cadastrar</a>
        <button class="btn btn-primary"><a class="a-login" style="text-decoration: none;color: white" href="{% url "password_reset" %}">Esqueceu sua senha?</a></button>
        </div>
    </form>
{% endblock %}
    