{% extends "template.html" %}
{% block title %}
Página principal
{% endblock  %}
{% block main %}

<a id="button-chamado">Abrir Chamado</a>
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="fechar">x</span>
    <p id="title-modal-abir-chamado">Qual o tipo de chamado desejado?</p>
    <button class="btn btn-primary"><a class="link-modal-abrir-chamado" href="{% url "abrirChamadoImpressora" %}">Impressora</a></button>
    <button class="btn btn-primary"><a class="link-modal-abrir-chamado"  href="{% url "abrirChamado" %}">Computadores</a></button>
    <button class="btn btn-primary"><a class="link-modal-abrir-chamado"  href="{% url "abrirChamadoInternet" %}">Internet</a></button>
    <button class="btn btn-primary"><a class="link-modal-abrir-chamado"  href="{% url "abrirChamadoSistema" %}">Sistema de Gestão Pública</a></button>
    <button class="btn btn-primary"><a class="link-modal-abrir-chamado"  href="{% url "abrirChamado" %}">Telefonia</a></button>
  </div>
</div>
<button id="button-pesquisa-chamado">Procurar Chamado</button>
<div>
    <form method=POST id="form-pesquisa-chamado">
        <h2 id="title-chamado">informações do chamado</h2>
        {% csrf_token %}
        {{form}}
        <button class="btn btn-success">Pesquisar</button>
    </form>
</div>
<table class="table">
    <thead>
      <tr>
        <th>Número</th>
        <th>Requisitante</th>
        <th>Setor</th>
        <th>Status</th>
        <th>Tipo</th>
        <th>Assunto</th>
        <th>Data de Abertura</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
      {% for chamado in chamados %}
      <tr class="tr-table-chamado">
        <td>{{ chamado.numero }}</td>
        <td>{{ chamado.requisitante }}</td>
        <td>{{ chamado.setor }}</td>
        <td>{{ chamado.getStatus }}</td>
        <td>{{ chamado.tipo.sigla }}</td>
        <td>{{ chamado.assunto }}</td>
        <td>{{ chamado.dataAbertura|date:"d/m/y H:i" }}</td>
        <td>
          <a href="{% url 'chamado' chamado.id %}">
            <button class="btn btn-primary button-abrir-chamado"><i class="bi bi-box-arrow-up-right"></i></button>
          </a>
        </td>
      </tr>
    {% endfor %}    
      <!-- Add more rows here if needed -->
    </tbody>
  </table>
  
  <script>
    $(document).ready(function() {
      $('#id_setor').select2();
      $('#id_secretaria').select2();
      $('#id_requisitante').select2();
    });
  </script>
{% endblock %}
