nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: rgb(0, 74, 177);
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 50px; 
}

img {
    max-width: 100%; 
}

.btn-header, .logout-btn {
    border: none; 
    background-color: transparent; 
    padding: 5px; 
    cursor: pointer; 
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
    font-size: 0.9em;
    color: white;
    /* border: 1px solid black;
    border-radius: 20px;  */
}

.logout-btn {
    text-decoration: none;
    color: white;
}

.btn-header:hover {
    color: rgb(57, 238, 184);
    transform: scale(1.1);
}

.logout-btn:hover{
    color: rgb(219, 44, 44);
    transform: scale(1.1);
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-header {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .logo-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .btn-header {
        margin: 5px 0;
    }
    #div-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -30px;
        gap: 10px;
        font-size: 17px;
        margin-bottom: 20px;
        
    }
    .logout-btn{
        position: absolute;
        right: 2%;
        top: 1%;
    }

}
