{% extends "template.html" %}
{% block title %}
Abrir Chamado
{% endblock  %}
{% block main %}
<link rel="stylesheet" href="/static/css/form-chamado.css">
<div class="row">
    <div class="col d-flex py-5"> 
          <div class="row w-100">
              <div class="col-10 pb-4 m-auto bg-white">                          
                  <div class="row">
                      <div class="col px-4">                                             
                          <div class="pt-4 px-2">
                              <form class="form-main" method="POST">
                                  <h2 style="text-align: center; margin-bottom: 30px">Abrir Chamado</h2>
                                  {% csrf_token %}
                                  {{ form.as_p }}
                                  <button id="save-button" type="submit" class="btn btn-primary">
                                  Enviar
                                  </button>
                              </form>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>    
    </div>
  </div>
{% endblock %}