<footer class="row" style=" background-color: black; color: white; border-top: 1px solid rgb(184, 184, 184); margin: 0;margin-top:20px;">
    <div class="col">
      <div class="row pt-3 pb-2 mobile-flex-column"> <!-- Reduza os valores de pt- e pb- aqui -->
        <div class="col d-flex flex-column">
          <img class="img-fluid logo m-auto" src="/static/img/prefeitura.png" alt="">
          <p class="mx-auto mt-3"> <!-- Reduza o valor de mt- aqui -->
            <!-- Conteúdo opcional aqui -->
          </p>
        </div>
        <div class="col">
          <p>
            <b class="text-uppercase">
              <!-- Conteúdo opcional aqui -->
            </b>
          </p>
          <p>
            <b><i class="fa-solid fa-location-dot me-2"></i></b>
            Av. Alberto Braune, 225 - Centro, Nova Friburgo - RJ, 28613-001
          </p>
          <p>
            <b><i class="fa-solid fa-clock me-2"></i></b>
            08:00 às 17:00 de Seg. à Sex.
          </p>
          <p>
            <b><i class="fa-solid fa-phone me-2"></i></b>
            Ramal: 9234
          </p>
        </div>
      </div>
      <div class="row bg-black">
        <div class="col d-flex px-2 pt-2 pb-1"> <!-- Reduza os valores de px-, pt-, e pb- aqui -->
          <div class="d-flex mx-auto">
            <b class="ms-2">© Subsecretaria de TI</b>
          </div>
        </div>
      </div>
    </div>
  </footer>
  