<footer class="row footer" style=" background-color: rgb(2, 34, 44); color: white; border-top: 1px solid rgb(184, 184, 184); margin: 0;margin-top:20px;">
    <div class="col">
      <div class="row pt-3 pb-2 mobile-flex-column"> <!-- Reduza os valores de pt- e pb- aqui -->
        <div class="col d-flex flex-column">
          <link rel="stylesheet" href="/static/css/footer.css">
          <img class="img-fluid logo m-auto" src="/static/img/prefeitura-footer.png" alt="">
        </div>
        <div class="col">
          <ul>
              <img style="margin-right: 10px;" width="15" src="/static/img/black-placeholder-variant.png" alt="">Av. Alberto Braune, 225 - Centro, Nova Friburgo - RJ, 28613-001
              <hr>
              <img style="margin-right: 10px;" src="/static/img/clock.png" alt="" width="15">08:00 às 17:00 de Seg. à Sex.
              <hr>
              <img style="margin-right: 10px;" src="/static/img/phone-call.png" alt="" width="15">Ramal: 9234
          </div>
        </div>
          </ul>
          
      <div  style="background-color: rgb(2, 34, 44);">
        <div class="col d-flex px-2 pt-2 pb-1"> <!-- Reduza os valores de px-, pt-, e pb- aqui -->
          <div class="d-flex mx-auto">
            <b class="ms-2">© Subsecretaria de TI</b>
          </div>
        </div>
      </div>
    </div>
  </footer>
  