{% extends "template.html" %}
{% block title %}
Indicadores
{% endblock  %}
{% block main %}
<h1>Indicadores</h1>
    <h2>Chamados por Setor</h2>
    <ul>
        {% for setor in setores %}
            <li>{{ setor.nome }}: {{ setor.total_chamados }}</li>
        {% endfor %}
    </ul>

    <h2>Chamados por Secretaria</h2>
    <ul>
        {% for secretaria in secretarias %}
            <li>{{ secretaria.nome }}: {{ secretaria.total_chamados}}</li>
        {% endfor %}
    </ul>
{% endblock %}