{% extends "template.html" %}
{% block title %}
Página principal
{% endblock  %}
{% block main %}

<a id="button-chamado" href= {% url 'abrirChamado' %}>Abrir Chamado</a>
<div>
    <form method=POST id="form-pesquisa-chamado">
        {% csrf_token %}
        {{form}}
        <button class="btn btn-success">Pesquisar</button>
    </form>
</div>
<table class="table">
    <thead>
      <tr>
        <th>Número</th>
        <th>Requisitante</th>
        <th>Setor</th>
        <th>Tipo</th>
        <th>Assunto</th>
        <th>Data de Abertura</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
        {% for chamado in chamados  %}
      <tr>
        <td>{{chamado.numero}}</td>
        <td>{{chamado.requisitante}}</td>
        <td>{{chamado.setor}}</td>
        <td>{{chamado.tipo.sigla}}</td>
        <td>{{chamado.assunto}}</td>
        <td>{{chamado.dataAbertura|date:"d/m/y H:i"}}</td>
        <td>
          <a href="{% url 'chamado' chamado.id %}">
            <button class="btn btn-primary">Detalhes</button>
          </a>
        </td>
      </tr>
      {% endfor %}
      <!-- Add more rows here if needed -->
    </tbody>
  </table>
  
{% endblock %}
