{% extends "template.html" %}
{% block title %}
Página principal
{% endblock  %}
{% block main %}
Sou a pagina principal

<button><a href= {% url 'abrirChamado' %}>Abrir Chamado</a></button>

<table>
    <thead>
        <th>Tabela de Chamados</th>
    </thead>
    <tbody>
        {% for chamado in chamados %}
        <tr>
            <td>{{chamado.requisitante}}</td>
            <td>{{chamado.tipo}}</td>
            <td>{{chamado.assunto}}</td>
            <td>{{chamado.dataAbertura}}</td>
            <td><button><a href="{% url 'chamado' chamado.id %}">Detalhes</a></button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
